/*.page {
    position: relative;
    display: flex;
    flex-direction: column;
}*/

.page{
    margin-top: 5rem !important;
    display:flex;
    max-width: 1600px;
    flex-direction: column;
    margin: auto;
}