.nav-link:hover {
    background-color: dimgray !important;
    border-radius: 30px !important;
}

.nav-link:focus {
    background-color: dimgray !important;
    border-radius: 30px !important;
}

.nav-link {
    border-radius: 30px !important;
}

.dropdown-menu {
    cursor: pointer;
}

.nav-item{
    cursor: pointer;
}

.button-group-login{
    display:flex
}

@media only screen and (max-width: 430px) {
    .button-group-login {
        display: none !important;
    }
}