body {
}

.select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem
}

@media only screen and (max-width: 600px){
    .select {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 400px) {
    .select {
        grid-template-columns: 1fr;
    }
}