@page "/"
@using RentACarBlazorServer.Models
@inject HttpClient httpClient

<PageTitle>Rent A Car</PageTitle>

@if (CarDetails != null)
{
    <div style="display: grid; grid-template-columns: 25% 25% 25% 25%; row-gap:1rem; margin-top: 1rem">
        @foreach (var car in CarDetails)
        {
            <MudCard Style="margin-right: 0.5rem; margin-left: 0.5rem">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@car.BrandName</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="@car.Images[0]" Style="width: 100%" Height="250" />
                <MudCardContent>
                    <MudText Typo="Typo.body2">@car.Description</MudText>
                </MudCardContent>
                <MudCardActions Style="justify-content: space-between">
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                    <MudButton Variant="Variant.Outlined" Color="Color.Dark">Review</MudButton>
                </MudCardActions>
            </MudCard>
        }
    </div>
}

@code {
    public List<CarDetailDto>? CarDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetFromJsonAsync<ListResponse<CarDetailDto>>("Cars/getcardetails");
        CarDetails = result?.Data;
    }
}